.container-menu-overlay {
    background-color: black;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    display: flex;
    left: 135px;
    top: 50px;
}

.container-menu-item-list {
    padding: 20px;
}

.container-menu-item-list > .txt-title,
.txt-title {
    color: white;
    font-size: 24pt;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.container-list-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
